<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CropGuard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon1transparent.png">
    </head>
    <body>
    <nav>
        <a href="index.html">
        <img src="../static/images/favicon1transparent.png" alt="CropGuard Logo" id="logo-nav">
        </a>
        <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="index.html">Model</a></li>
        <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <header>
        <img src="../static/images/logo1.png" alt="CropGuard Logo" id="logo-img">
        <h1>Potato Leaf Disease Prediction</h1>
    </header>
    <main>
        <section class="about-us">
        <h2>About CropGuard</h2>
        <p>CropGuard is a web tool developed by AI & DS. We are a team of researchers and developers passionate about using artificial intelligence to improve the lives of farmers and gardeners.</p>
        <p>We believe that CropGuard can empower farmers to make data-driven decisions about their crops, leading to increased yields and reduced environmental impact.</p>
        </section>
        <section class="team">
        <h2>Meet the Team</h2>
        </section>
        <section class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or feedback about CropGuard, please feel free to contact us at:</p>
        <ul>
            <li>Email: [your email address]</li>
        </ul>
        </section>
    </main>
    </body>
</html>
