<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Potato Leaf Disease Prediction</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/favicon1transparent.png">
    </head>
    <body>
        <nav>
            <a href="index.html">
                <img src="../static/images/favicon1transparent.png" alt="CropGuard Logo" id="logo-nav">
            </a>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="index.html">Model</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    <header>
        <img src="../static/images/logo1.png" alt="CropGuard Logo" id="logo-img">
        <h1>Potato Leaf Disease Prediction</h1>
    </header>
    <main>
        <section class="hero">
            <h2>Welcome to CropGuard!</h2>
            <p>CropGuard is a web tool that helps you identify potential diseases in your potato plants by analyzing uploaded leaf images.</p>
            <p>This tool is designed to be a simple and user-friendly way for farmers and gardeners to monitor the health of their potato crops.</p>
            <a href="index.html" class="hero-button">Get Started</a>
        </section>
        <section class="benefits">
            <h2>Benefits of using CropGuard</h2>
            <ul>
                <li>Early detection of potential diseases</li>
                <li>Improved decision-making for crop management</li>
                <li>Increased crop yields</li>
                <li>Reduced reliance on chemical pesticides</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; AI & DS 2024</p>
    </footer>
    </body>
</html>
